html {
    line-height: 1.5;
    font-size: 14px;
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }

    body {
    line-height: inherit; 
    text-rendering: optimizeLegibility; 
    font-kerning: normal;
    hyphens: auto;
    } 
    
    *{
    margin: 0; 
    }
   
    h1, h2, h3, h4, h5, h6, p{
    font-family: inherit; 
    font-size: inherit; 
    font-weight: inherit;
    }

    